
<app-navbar01></app-navbar01>

    <div class="toolbar1">
        <p>
          <mat-toolbar>
           <a href="/dashboard" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>home</mat-icon>
           </a><span>.   |</span> 
            <a href="/register" mat-icon-button class="example-icon mr20 ml20" aria-label="Example icon-button with share icon">
              Register Account   |   </a><span>   | </span>
              <a href="/ad-deposit" mat-icon-button class="example-icon mr20 ml20" aria-label="Example icon-button with share icon">
              Deposit and Withdraw   |   </a><span>|   |</span>
              <a href="/" mat-icon-button class="example-icon mr20 ml20" aria-label="Example icon-button with share icon">
              View Balance    |     </a><span> </span>
              <a href="/ad-request" mat-icon-button class="example-icon mr20 ml20" aria-label="Example icon-button with share icon">
                Cheque Book request  |     </a><span> </span>
              
          <span>| </span>
          <span class="example-spacer"></span>
          
          
          <a href="/login" mat-icon-button class="example-icon mr20 ml20" aria-label="Example icon-button with share icon">
           <mat-icon>logout</mat-icon>
          </a>
        </mat-toolbar>
        </p>
      </div>
<div class="message1">
      <mat-card> Welcome to Admin Login !</mat-card>
    </div>


