<div class="toolbar1">
  <p>
    <mat-toolbar>
     <a href="/dashboard" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
     </a><span>.   |</span> 
      <a href="/profile" mat-icon-button class="example-icon mr20 ml20" aria-label="Example icon-button with share icon">
        Profile Information       </a><span> |  | </span>
        <a href="/request" mat-icon-button class="example-icon mr20 ml20" aria-label="Example icon-button with share icon">
        Request       </a><span>|   |</span>
        <a href="/transfer" mat-icon-button class="example-icon mr20 ml20" aria-label="Example icon-button with share icon">
        Transfer       </a><span> </span>
        
    <span>| </span>
    <span class="example-spacer"></span>
    
    
    <a href="/login" mat-icon-button class="example-icon mr20 ml20" aria-label="Example icon-button with share icon">
     <mat-icon>logout</mat-icon>
    </a>
  </mat-toolbar>
  </p>
</div>