<app-navbar01></app-navbar01>
<app-nav2></app-nav2>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="grid1">
    <mat-card> Savings Account  ------>  {{UserData.total | json}}</mat-card>



    </div>
    <div class="grid1">
        <mat-card>Current Account  ------>     {{UserData.current | json}}</mat-card>
        </div>
</body>
</html>